openapi: '3.0.2'
info:
  title: API Student
  version: '1.0'
  description: Specificaion API - TD1
servers:
  - url: https://api.STD21099.com
paths:
  /student:
    get:
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - id
                    - name
                    - refStudent
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: John Doe
                    refStudent:
                      type: string
                      example: STD22001
        500:
          description: Server error

    post:
      description: Add new student
      requestBody:
        content:
          application/json:
            schema:
              required:
                - id
                - name
                - refStudent
              properties:
                id:
                  type: integer
                  example: 1
                name:
                  type: string
                  example: John Doe
                refStudent:
                  type: string
                  example: STD22001
      responses:
        202:
          description: Student Added Successfully
          content:
            application/json:
              schema:
                required:
                  - id
                  - name
                  - refStudent
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: John Doe
                  refStudent:
                    type: string
                    example: STD22001
        500:
          description: Server error