openapi: '3.0.2'
info:
  title: API Student
  version: '1.0'
  description: Specificaion API - TD1
servers:
  - url: https://api.STD21099.com
paths:
  /student:
    get:
      tags:
        - student
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        500:
          description: Server error

    post:
      tags:
        - student
      description: Add new student
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Student'
      responses:
        201:
          description: Student created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'

        500:
          description: Server error

components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        refStudent:
          type: string
          example: STD22001
        firstName:
          type: string
          example: Doe
        lastName:
          type: string
          example: John
        email:
          type: string
          example: hei.john.doe@gmail.com
        isActive:
          type: boolean
          example: false
    Teacher:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        firstName:
          type: string
          example: Doe
        lastName:
          type: string
          example: John
        email:
          type: string
          example: john.doe@hei.school
    Cours:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        refCours:
          type: string
          example: PROG2
        description:
          type: string
          example: algorithme